Areas(
	[
		(
			title: ("Frightening Forest"), // Title(String)
			kind: Forest, // AreaKind
			weighting_bg: (
				kind: BACKGROUND, // ChanceKind
				chance: (
					success: 1.0,
					failure: 0.0,
				), // Chance( success: f32, failure :f32 )
				pool: {}, // HashMap<usize, f32>
			),
			weighting_loot: (
				kind: LOOT,
				chance: (
					success: 0.1,
					failure: 0.9,
				),
				pool: {},
			),
			weighting_enemy: (
				kind: ENEMY,
				chance: (
					success: 0.3,
					failure: 0.7,
				),
				pool: {},
			),
		),
		(
			title: ("Dead Dead Desert"),
			kind: Desert,
			weighting_bg: (
				kind: BACKGROUND, // ChanceKind
				chance: (
					success: 1.0,
					failure: 0.0,
				), // Chance( success: f32, failure :f32 )
				pool: {}, // HashMap<usize, f32>
			),
			weighting_loot: (
				kind: LOOT,
				chance: (
					success: 0.1,
					failure: 0.9,
				),
				pool: {},
			),
			weighting_enemy: (
				kind: ENEMY,
				chance: (
					success: 0.3,
					failure: 0.7,
				),
				pool: {},
			),

		),
	]
)
